@mixin social($position,$filename:filename) {
  background: {
    position: $position;
    image: url(../#{$filename}.jpg);
  }
}

#main_nav {
  position: fixed;
  width: 100%;
  top: 0;
  -webkit-box-shadow: 0 5px 6px -6px black;
  -moz-box-shadow: 0 5px 6px -6px black;
  box-shadow: 0 5px 6px -6px black;
  z-index: 200;
  background-image: url('http://cepr.net/templates/cepr_blog/images/bg/bg_MainNav_grad.png'),url('http://cepr.net/templates/cepr_blog/images/bg/c4.png');
  background-position: right top,top center;
  background-repeat: no-repeat,repeat-x;
  height: 70px;
  
  img { margin-left: 25px; }
}

ul.nav {
  
  margin: 20px 60px 0 0;
  
  li {

    border: 1px solid transparent;
    padding: 4px 9px 2px 9px;
    
    a {
      font-family: 'Oswald',"HelveticaNeue-CondensedBold",Arial,sans-serif;
      font-size: 14px;
      color: #EEEEEE;
      min-height: 34px;
      padding: 0;
    }
    
    a:hover { background: none; }
    a:focus { background-color: transparent !important; }

    ul.dropdown-menu {
      border: 1px solid #777777;
      background: -webkit-gradient(linear,0% 0%,0% 100%,from(#EEEEEE),to(#BBBBBB));
      
      li {
        text-align: left;
        a { color: #015b86; }
        a:hover, a:focus { color: #029feb; }
      }
    }
    
  }
}

#banner {
  margin-top: 70px;
  height: 200px;
  background-position: center center;
  background-image: url("http://cepr.net/templates/cepr_blog/images/banners/cepr_blog_headerbw.jpg")
}

#breadcrumbs {
  padding: 16px;
  
  p {
    font-family: 'Oswald',"HelveticaNeue-CondensedBold",Arial,sans-serif;
    color: #5091b0;
    font-size: 18px;
  }
  
  .active { color: #000; }
}

.col-header {
  font-family: 'Oswald',"HelveticaNeue-CondensedBold",Arial,sans-serif;
  color: #5091b0;
  font-size: 18px;
  border-bottom: 1px solid #d1d1d1;
  margin-bottom: 15px;
  text-transform: uppercase;
}

#left_col {
  h3 {
  @extend .col-header;
  }
  
  img {
    width: 100%;
  }

  p {
    font-family: 'Oswald',"HelveticaNeue-CondensedBold",Arial,sans-serif;
  }
}

#right_col {
    margin: 24px 6px 0 0;
    border: 1px #d1d1d1 solid;
    background-color: #ebebeb;
    padding: 8px;
    h3 {
      @extend .col-header;
    }
    #languages {
      padding: 12px;
      p {
        font-family: 'Oswald',"HelveticaNeue-CondensedBold",Arial,sans-serif;
      }
    }
}

footer {
  -webkit-box-shadow: 0 5px 6px -6px black;
  -moz-box-shadow: 0 5px 6px -6px black;
  box-shadow: 0 5px 6px -6px black;
  border: 1px #d1d1d1 solid;
  background-color: #ebebeb;
  margin-top: 36px;
  min-height: 250px;
  padding-top: 50px;
  color: #858585 !important;
  font-weight: normal;
  
  h3 {
    font-family: 'Oswald',"HelveticaNeue-CondensedBold",Arial,sans-serif;
    font-size: 18px;
    margin-top: 0;
  }
}

ul.social-media {
  padding-left: 0;
  li, li a {
    height: 36px;
    width: 36px;
    display: inline-block;
    cursor: pointer;
  }
  #twitter { @include social(top left,social-media-icons); }
  #facebook { @include social(-40px 0px,social-media-icons); }
}