#main_nav {
  position: fixed;
  width: 100%;
  top: 0;
  -webkit-box-shadow: 0 5px 6px -6px black;
  -moz-box-shadow: 0 5px 6px -6px black;
  box-shadow: 0 5px 6px -6px black;
  z-index: 200;
  background-image: url("https://cepr.net/templates/cepr_blog/images/bg/bg_MainNav_grad.png"), url("https://cepr.net/templates/cepr_blog/images/bg/c4.png");
  background-position: right top,top center;
  background-repeat: no-repeat,repeat-x;
  height: 70px; }
  #main_nav img {
    margin-left: 25px; }

ul.nav {
  margin: 20px 60px 0 0; }
  ul.nav li {
    border: 1px solid transparent;
    padding: 4px 9px 2px 9px; }
    ul.nav li a {
      font-family: 'Oswald',"HelveticaNeue-CondensedBold",Arial,sans-serif;
      font-size: 14px;
      color: #EEEEEE;
      min-height: 34px;
      padding: 0; }
    ul.nav li a:hover {
      background: none; }
    ul.nav li a:focus {
      background-color: transparent !important; }
    ul.nav li ul.dropdown-menu {
      border: 1px solid #777777;
      background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#BBBBBB)); }
      ul.nav li ul.dropdown-menu li {
        text-align: left; }
        ul.nav li ul.dropdown-menu li a {
          color: #015b86; }
        ul.nav li ul.dropdown-menu li a:hover, ul.nav li ul.dropdown-menu li a:focus {
          color: #029feb; }

.dropdown:hover .dropdown-menu {
  display: block; }

#banner {
  margin-top: 70px;
  height: 200px;
  background-position: center center;
  background-image: url("https://cepr.net/templates/cepr_blog/images/banners/cepr_blog_headerbw.jpg"); }

#breadcrumbs {
  padding: 16px; }
  #breadcrumbs p {
    font-family: 'Oswald',"HelveticaNeue-CondensedBold",Arial,sans-serif;
    color: #5091b0;
    font-size: 18px; }
  #breadcrumbs .active {
    color: #000; }

.col-header, #left_col h3, #right_col h3 {
  font-family: 'Oswald',"HelveticaNeue-CondensedBold",Arial,sans-serif;
  color: #5091b0;
  font-size: 18px;
  border-bottom: 1px solid #d1d1d1;
  margin-bottom: 15px;
  text-transform: uppercase; }

#left_col img {
  width: 100%; }
#left_col p {
  font-family: 'Oswald',"HelveticaNeue-CondensedBold",Arial,sans-serif; }

#right_col {
  margin: 20px 6px 0 0;
  border: 1px #d1d1d1 solid;
  background-color: #ebebeb;
  padding: 8px; }
  #right_col #languages {
    padding: 12px; }
    #right_col #languages p {
      font-family: 'Oswald',"HelveticaNeue-CondensedBold",Arial,sans-serif; }

footer {
  -webkit-box-shadow: 0 5px 6px -6px black;
  -moz-box-shadow: 0 5px 6px -6px black;
  box-shadow: 0 5px 6px -6px black;
  border: 1px #d1d1d1 solid;
  background-color: #ebebeb;
  margin-top: 36px;
  min-height: 250px;
  padding-top: 50px;
  color: #858585 !important;
  font-weight: normal; }
  footer h3 {
    font-family: 'Oswald',"HelveticaNeue-CondensedBold",Arial,sans-serif;
    font-size: 18px;
    margin-top: 0; }

ul.social-media {
  padding-left: 0; }
  ul.social-media li, ul.social-media li a {
    height: 36px;
    width: 36px;
    display: inline-block;
    cursor: pointer; }
  ul.social-media #twitter {
    background-position: 0px 0px;
    background-image: url(https://org.salsalabs.com/o/967/images/social-media-icons.jpg); }
    ul.social-media #twitter:hover {
      background-position: -1px -1px;
      background-image: url(https://org.salsalabs.com/o/967/images/social-media-icons-hov.jpg); }
  ul.social-media #facebook {
    background-position: -39.5px 0px;
    background-image: url(https://org.salsalabs.com/o/967/images/social-media-icons.jpg); }
    ul.social-media #facebook:hover {
      background-position: -40px -1px;
      background-image: url(https://org.salsalabs.com/o/967/images/social-media-icons-hov.jpg); }
  ul.social-media #tumblr {
    background-position: -79px 0px;
    background-image: url(https://org.salsalabs.com/o/967/images/social-media-icons.jpg); }
    ul.social-media #tumblr:hover {
      background-position: -80px -1px;
      background-image: url(https://org.salsalabs.com/o/967/images/social-media-icons-hov.jpg); }
  ul.social-media #linkedin {
    background-position: -118.5px 0px;
    background-image: url(https://org.salsalabs.com/o/967/images/social-media-icons.jpg); }
    ul.social-media #linkedin:hover {
      background-position: -120px -1px;
      background-image: url(https://org.salsalabs.com/o/967/images/social-media-icons-hov.jpg); }
  ul.social-media #youtube {
    background-position: -158px 0px;
    background-image: url(https://org.salsalabs.com/o/967/images/social-media-icons.jpg); }
  ul.social-media #google {
    background-position: -197.5px 0px;
    background-image: url(https://org.salsalabs.com/o/967/images/social-media-icons.jpg); }
    ul.social-media #google:hover {
      background-position: -198px -1px;
      background-image: url(https://org.salsalabs.com/o/967/images/social-media-icons-hov.jpg); }

.mobile-menu {
  display: none; }

/* Overriding Salsa styles */
.salsa p, .salsa label, .salsa legend {
  font: 12px Verdana !important; }

.helpText, #de_compliance ul li {
  font: 12px Verdana !important; }

h3 {
  font-family: 'Oswald',"HelveticaNeue-CondensedBold",Arial,sans-serif; }

/* iPhone 6 and smaller */
@media screen and (max-width: 400px) {
  .mobile-menu {
    display: inline-block;
    color: #fff;
    font-size: 1.5em;
    padding: 24px; }

  #main_nav {
    position: absolute; }
    #main_nav img {
      width: 75%;
      margin: 12px auto; }

  .navbar {
    display: none;
    background-color: #086382; }

  #banner {
    display: none; }

  #left_col img {
    width: 50%; } }

/*# sourceMappingURL=custom.css.map */
